include README.rst
include CHANGES.rst

include ez_setup.py
include setup.cfg
include mosviz/tests/coveragerc

recursive-include mosviz *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *
recursive-include mosviz/data *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
